@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');

:root {
    --unit: 1vw;
}

@media (max-aspect-ratio: 1/1) {
    :root {
        --unit: 1vw;
    }
}

@media (min-aspect-ratio: 1/1) {
    :root {
        --unit: 1vh;
    }
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Poor Story', cursive;
    box-sizing: border-box;
}
*:hover {
    cursor: default;
}
*::selection {
    background-color: transparent;
}

body {
    background-color: #eeeeee;
}

#monitor {
    width: calc(var(--unit) * 100);
    height: calc(var(--unit) * 100);
    background-color: #121212;

    font-size: calc(var(--unit) * 2.5);
    font-weight: bold;
    color: #eeeeee;

    position: absolute;
}
@media (max-aspect-ratio: 1/1) {
    #monitor {
        top: calc(50vh - 50vw);
    }
}
@media (min-aspect-ratio: 1/1) {
    #monitor {
        left: calc(50vw - 50vh);
    }
}

.cover {
    background-color: #eeeeee;
    position: absolute;

    z-index: 1;
}
@media (max-aspect-ratio: 1/1) {
    .cover {
        width: 100vw;
        height: calc(50vh - 50vw);
    }
    .first {
        top: 0;
    }
    .second {
        bottom: 0;
    }
}
@media (min-aspect-ratio: 1/1) {
    .cover {
        width: calc(50vw - 50vh);
        height: 100vh;
    }
    .first {
        left: 0;
    }
    .second {
        right: 0;
    }
}

.common-monitor {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    z-index: 3;
}
.common-monitor:first-of-type {
    rotate: 180deg;
    top: 0;
}

.select {
    width: calc(var(--unit) * 15);

    text-align: center;
    line-height: calc(var(--unit) * 5);

    position: absolute;
    bottom: 0;
}
.left {
    left: calc(var(--unit) * 5);
}
.right {
    left: calc(var(--unit) * 80);
}