* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}
*:hover {
    cursor: default;
}

body {
    background-color: #eeeeee;
}

#monitor {
    background-color: #121212;

    font-weight: bold;
    color: #eeeeee;
}
@media (max-aspect-ratio: 1/1) {
    #monitor {
        width: 100vw;
        height: 100vw;

        font-size: 2.5vw;

        position: absolute;
        top: calc(50vh - 50vw);
    }
}
@media (min-aspect-ratio: 1/1) {
    #monitor {
        width: 100vh;
        height: 100vh;

        font-size: 2.5vh;

        position: absolute;
        left: calc(50vw - 50vh);
    }
}

.cover {
    background-color: #eeeeee;
    position: absolute;

    z-index: 1;
}
@media (max-aspect-ratio: 1/1) {
    .cover {
        width: 100vw;
        height: calc(50vh - 50vw);
    }
    .first {
        top: 0;
    }
    .second {
        bottom: 0;
    }
}
@media (min-aspect-ratio: 1/1) {
    .cover {
        width: calc(50vw - 50vh);
        height: 100vh;
    }
    .first {
        left: 0;
    }
    .second {
        right: 0;
    }
}

.common-monitor {
    width: 100%;
    height: 50%;
}
.common-monitor:first-of-type {
    rotate: 180deg;
}