.select {
    position: absolute;
    bottom: 10px;
}
@media (max-aspect-ratio: 1/1) {
    .previous {
        right: 90vw;
    }
    .next {
        left: 90vw;
    }
}
@media (min-aspect-ratio: 1/1) {
    .previous {
        right: 90vh;
    }
    .next {
        left: 90vh;
    }
}

.album {
    border-radius: 50%;
}
@media (max-aspect-ratio: 1/1) {
    .album {
        width: 60vw;
        height: 60vw;
    }
}
@media (min-aspect-ratio: 1/1) {
    .album {
        width: 60vh;
        height: 60vh;
    }
}