.select {
    text-align: center;

    position: absolute;
    bottom: 10px;
}
.mode {
    bottom: 0;
}
.cooperative {
    background-color: #38BAB7;
}
.competitive {
    background-color: #72A9F1;
}
@media (max-aspect-ratio: 1/1) {
    .select {
        width: 15vw;
    }
    .previous {
        left: 5vw;
    }
    .next {
        left: 80vw;
    }
    .mode {
        height: 5vw;
    }
    .cooperative {
        left: 35vw;
    }
    .competitive {
        left: 50vw;
    }
}
@media (min-aspect-ratio: 1/1) {
    .select {
        width: 15vh;
    }
    .previous {
        right: 80vh;
    }
    .next {
        left: 80vh;
    }
    .mode {
        height: 5vh;
    }
    .cooperative {
        left: 35vh;
    }
    .competitive {
        left: 50vh;
    }
}

.album {
    background-size: cover;
    border-radius: 50%;
    filter: blur(2px);
    opacity: 0.5;

    position: absolute;
}
.album.current {
    filter: none;
    opacity: 1;

    animation: 10s linear 0 rotation;
    animation-iteration-count: infinite;
}
@media (max-aspect-ratio: 1/1) {
    .album {
        width: 40vw;
        height: 40vw;

        top: 30vw;
    }
    .album.current {
        width: 50vw;
        height: 50vw;

        top: 25vw;
        left: 25vw;
    }
    .album.previous {
        right: 90vw;
    }
    .album.next {
        left: 90vw;
    }
}
@media (min-aspect-ratio: 1/1) {
    .album {
        width: 40vh;
        height: 40vh;

        top: 30vh;
    }
    .album.current {
        width: 50vh;
        height: 50vh;

        top: 25vh;
        left: 25vh;
    }
    .album.previous {
        right: 90vh;
    }
    .album.next {
        left: 90vh;
    }
}
@keyframes rotation {
    0% { rotate: 0; }
    100% { rotate: 360deg; }
}

.description {
    width: 100%;

    text-align: center;

    position: relative;
}
@media (max-aspect-ratio: 1/1) {
    .description {
        top: 30vw;
    }
}
@media (min-aspect-ratio: 1/1) {
    .description {
        top: 30vh;
    }
}