.title {
    font-size: calc(var(--unit) * 3.5);
}

.select {
    text-align: center;

    position: absolute;
    bottom: 0;
}
.cooperative {
    background-color: #38BAB7;
}
.competitive {
    background-color: #72A9F1;
}
@media (max-aspect-ratio: 1/1) {
    .select {
        width: 15vw;

        line-height: 5vw;
    }
    .previous {
        left: 80vw;
    }
    .next {
        left: 5vw;
    }
    .mode {
        height: 5vw;
    }
    .cooperative {
        left: 35vw;
    }
    .competitive {
        left: 50vw;
    }
}
@media (min-aspect-ratio: 1/1) {
    .select {
        width: 15vh;
        
        line-height: 5vh;
    }
    .previous {
        right: 80vh;
    }
    .next {
        left: 80vh;
    }
    .mode {
        height: 5vh;
    }
    .cooperative {
        left: 35vh;
    }
    .competitive {
        left: 50vh;
    }
}

.album {
    width: calc(var(--unit) * 40);
    height: calc(var(--unit) * 40);
    background-size: cover;
    border-radius: 50%;
    filter: blur(2px);
    opacity: 0.5;

    position: absolute;
    top: calc(var(--unit) * 30);
}
.album.current {
    width: calc(var(--unit) * 50);
    height: calc(var(--unit) * 50);

    z-index: 99;

    filter: none;
    opacity: 1;

    top: calc(var(--unit) * 25);
    left: calc(var(--unit) * 25);

    animation: 10s linear 0 rotation;
    animation-iteration-count: infinite;

    clip-path: url(#cd);
}
.album.innerdecoration{
    width: calc(var(--unit) * 18);
    height: calc(var(--unit) * 18);
    border: calc(var(--unit) * 5) solid white;

    top: calc(var(--unit) * 41);
    left: calc(var(--unit) * 41);

    filter: none;
}
.album.outerdecoration {
    width: calc(var(--unit) * 47);
    height: calc(var(--unit) * 47);
    border: calc(var(--unit) * 0.25) solid white;

    z-index: 100;

    top: calc(var(--unit) * 26.5);
    left: calc(var(--unit) * 26.5);

    filter: none;
    opacity: 0.5;
}
.album.previous {
    right: calc(var(--unit) * 90);
}
.album.next {
    left: calc(var(--unit) * 90);
}

@keyframes rotation {
    0% { rotate: 0; }
    100% { rotate: 360deg; }
}

.description {
    width: 100%;

    text-align: center;

    position: relative;
    top: calc(var(--unit) * 30)
}