#background {
    width: calc(var(--unit) * 90);
    height: calc(var(--unit) * 100);
    background-position: center;

    position: absolute;
    left: calc(var(--unit) * 5);
}

.count {
    text-align: center;
    font-size: 65px;
    margin-top: 10px;
}

.lane {
    width: 15%;
    height: var(--lane-size);
    background-color: #343434;
    border-left: calc(0.3 * var(--unit)) solid #121212;
    border-right: calc(0.3 * var(--unit)) solid #121212;

    opacity: 0.93;

    position: absolute;
}
.up {
    transform: rotate(180deg);
}
.lane.up {
    background-color: transparent;
}
._0 { left: 5%; }
._1 { left: 20%; }
._2 { left: 35%; }
._3 { left: 50%; }
._4 { left: 65%; }
._5 { left: 80%; }

.pressed {
    width: 15%;
    height: var(--lane-size);
    background: linear-gradient(rgba(0, 0, 0, 0) 85%, rgba(255, 255, 255, 0.4));

    display: none;
    position: absolute;
}

.note {
    width: 100%;
    border-top: calc(0.6 * var(--unit)) solid #121212;
    border-bottom: calc(0.6 * var(--unit)) solid #121212;
    opacity: 0.7;
}

@keyframes move {
    0% { transform: translateY(0); }
    100% { transform: translateY(calc(100 * var(--unit))); }
}

@keyframes fade {
    0% {bottom: 0;}
    100% {height: 0; bottom: 0;}
}

.short {
    height: 3%;
    position: absolute;
    bottom: var(--lane-size);
    z-index: 2;
}
.lane.down>.short {
    background-color: #38BAB7;
}
.lane.up>.short {
    background-color: #72A9F1;
}

.long {
    height: var(--size);
    position: absolute;
    bottom: var(--lane-size);
    z-index: 2;
}
.lane.down>.long {
    background-color: #93D4D3;
}
.lane.up>.long {
    background-color: #B0CCF0;
}

.judgement-line {
    width: 100%;
    height: 1%;
    background-color: #EEEEEE;

    position: absolute;
    bottom: 10%;
}

.score {

}