.lane {
    width: 15%;
    height: 100%;
    background-color: #787882;

    position: absolute;
}
.lane._1 { left: 5%; }
.lane._2 { left: 20%; }
.lane._3 { left: 35%; }
.lane._4 { left: 50%; }
.lane._5 { left: 65%; }
.lane._6 { left: 80%; }
@media (max-aspect-ratio: 1/1) {
    .lane {
        border-left: 0.3vw solid #121212;
        border-right: 0.3vw solid #121212;
    }
}
@media (min-aspect-ratio: 1/1) {
    .lane {
        border-left: 0.3vh solid #121212;
        border-right: 0.3vh solid #121212;
    }
}

.note {
    width: 100%;
}

.short {
    height: 3%;
    background-color: #38BAB7;
}
@media (max-aspect-ratio: 1/1) {
    .short {
        border-top: 0.6vw solid #121212;
        border-bottom: 0.6vw solid #121212;
    }
}
@media (min-aspect-ratio: 1/1) {
    .short {
        border-top: 0.6vh solid #121212;
        border-bottom: 0.6vh solid #121212;
    }
}