.lane {
    width: 15%;
    height: var(--lane-size);
    background-color: #787882;

    position: absolute;
}
.lane.up {
    background-color: transparent;
    transform: rotate(180deg);
}
.lane._0 { left: 5%; }
.lane._1 { left: 20%; }
.lane._2 { left: 35%; }
.lane._3 { left: 50%; }
.lane._4 { left: 65%; }
.lane._5 { left: 80%; }
@media (max-aspect-ratio: 1/1) {
    .lane {
        border-left: 0.3vw solid #121212;
        border-right: 0.3vw solid #121212;
    }
}
@media (min-aspect-ratio: 1/1) {
    .lane {
        border-left: 0.3vh solid #121212;
        border-right: 0.3vh solid #121212;
    }
}

.note {
    width: 100%;
}
@media (max-aspect-ratio: 1/1) {
    .note {
        border-top: 0.6vw solid #121212;
        border-bottom: 0.6vw solid #121212;
    }
    @keyframes move {
        0% { transform: translateY(0); }
        100% { transform: translateY(100vw); }
    }
}
@media (min-aspect-ratio: 1/1) {
    .note {
        border-top: 0.6vh solid #121212;
        border-bottom: 0.6vh solid #121212;
    }
    @keyframes move {
        0% { transform: translateY(0); }
        100% { transform: translateY(100vh); }
    }
}

.short {
    height: 3%;
    position: absolute;
    bottom: var(--lane-size);
    z-index: 2;
}
.lane.up>.short {
    background-color: #72A9F1;
}
.lane.down>.short {
    background-color: #38BAB7;
}

.long {
    height: var(--size);
    position: absolute;
    bottom: var(--lane-size);
    z-index: 2;
}
.lane.up>.long {
    background-color: #B0CCF0;
}
.lane.down>.long {
    background-color: #93D4D3;
}

@keyframes fade {
    0% {bottom: 0;}
    100% {height: 0; bottom: 0;}
}

.judgement-line {
    width: 100%;
    height: 1%;
    background-color: #EEEEEE;

    position: absolute;
    bottom: 10%;
}